autopep8~=2.0,>=2.0.4
mypy~=1.10
mypy_extensions~=1.0
pre-commit~=3.7; python_version >= "3.9"
pre-commit~=3.5; python_version < "3.9"
pytest~=7.4
# TODO: need to move to 0.24 to fix bug on how event loop is handled.
# see https://github.com/pytest-dev/pytest-asyncio/issues/706
pytest-asyncio~=0.21,>=0.21.2,<0.22
pytest-rerunfailures~=13.0
requests~=2.26
# TODO:
# Twisted~=22.2,>=22.2.1
